/*
    This stylesheet is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, version 3 of the License.
	
    This stylesheet is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
	
    You should have received a copy of the GNU General Public License
    along with Nome-Programma; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
 *    Main Box
 *    ========
 */

/*    >> BOX <<
*/

/* page = window */
body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

/* main & auxiliary boxes */
body div
{
	margin: 0;
	padding: 0;
	overflow: auto;
	clear:right;
	width: 83%;
}

/* menu */
#boxMenu
{
	float: left;
	width: 15%;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #cccc88;
	height:100%;
}

/* main box */
#boxMain
{
	float: left;
	display: block;
	padding-left: 1%;
	padding-right: 1%;
	width: 81%;
}

/* auxiliary box titles */
.auxTitle
{
	color:black;
	text-align: center;
	font-family: arial;
	font-size: 14px;
	line-height: 150%;
}


/*    >> MENU <<
*/

#boxMenu A:link, #boxMenu A:visited
{
	color: #330000;
}

#boxMenu A:hover, #boxMenu A:active
{
	color: white;
	background-color: black;
}

#boxMenu A
{
	display:block;
	font-size: 14px;
	line-height:16px;
	font-family: "Times New Roman", Times, Serif;
}

/* menu section */
.menuSectionBody
{
	width:100%;
	margin-top:16px; /* equal to buttons line-height */
}

/* menu section title */
.menuSectionTitle
{
	color:#000000;
	display:block;
	font-size: 14px;
	font-weight:bold;
	line-height:16px;
	font-family: Arial;
	margin:0 auto;
	text-align:center;
}

/*    >> TAG <<
*/

A {
	text-decoration: none;
}
A:link, A:visited {
	color: blue;
}
A:hover, A:active {
	color: red;
}

UL {
	padding: 0;
	margin: 0;
	padding-left: 3%;
	list-style-image:url("img/ul.gif");
}

LI {
	margin-left: 0;
}

#mainTitle
{
	text-align: center;
	font-family: "Times New Roman", freeSerif, BitstreamVera;
	font-size: 32px;
	line-height:100%;
	color: green;
	padding-top:0;
	margin-top:0;
	margin-bottom:10px;
}

H2
{
	text-align: center;
	font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #444444;
	margin-top:0px;
	margin-bottom:0px;
}

P
{
	font-family: "Times New Roman", freeSerif, BitstreamVera;
	font-size: 15px;
	color: black;
}


/*    >> tinybox <<
*/

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#winError {
	background: #ff4545; /* #ff6969 */
	color:#fff;
	text-shadow:1px 1px #cf5454;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:0
}
#winError .tcontent
{
	text-align: center;
	padding:10px 14px 11px;
	border:1px solid #ffb8b8;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-icab-border-radius:5px;
	border-radius:5px
}
#winSuccess
{
	padding:10px 14px 11px;
	background:#2ea125;
	color:#fff;
	text-align: center;
	text-shadow:1px 1px #1b6116;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-icab-border-radius:5px;
	border-radius:5px
}
#winInfo
{
	padding: 10px 14px 11px;
	background: #fff;
	color: #000;
	text-align: center;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	-icab-border-radius: 0;
	border-radius: 0
}
#winInfo td
{
	padding:0 10px 0 10px;
	text-align: left;
	border:1px solid #000;
}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}

/*    >> STILI <<
*/

/* Evidenzia un paragrafo intero */
.evidFrase
{
	font-size: 18px;
	font-style: italic;
	color: green;
	margin-left:5%;
}

/* Evidenzia una singola parola all'interno di un paragrafo */
.evidParola
{
	font-weight: bold;
	color: red;
}

/* Libri, pergamene, filastrocche... */
.libro
{
	font-style:italic;
	padding-left:2%;
}

